# =========================================================
# Environment variables / secrets
# =========================================================

.env
.env.*
!.env.example


# =========================================================
# Java / Maven
# =========================================================

**/target/
*.class
*.jar
*.war


# =========================================================
# Node / React / Vite
# =========================================================

**/node_modules/
**/dist/
**/.vite/


# =========================================================
# IDE
# =========================================================

.idea/
*.iml
.vscode/


# =========================================================
# OS
# =========================================================

.DS_Store
Thumbs.db
